/*Remove old styles*/
nav ul{
    list-style-type: none;
    padding-left: 0;
    margin:0;
    margin-bottom: 1.5em;
}

nav a {
    text-decoration: none;
    
    font-weight:bold;
    font-size: 17px;
    padding: 3px 5px;
}

.main-nav a:hover{
    color: maroon;
    background-color: #fd8f19;
}
.main-nav a:active{
    color: #ff8400;
    background-color: #733d03;
}
.main-nav .is-current{
    color: navy;
    background-color: #ff7119;
}

.main-nav a{
    border: 1px solid black;
    justify-content: center;
    padding: 15px;
    background-color: #fec019;
    box-shadow: 5px 5px 10px 0 #cccccc;
    border-radius: 5px;
}
.main-nav li{
    margin-left: 1em;
    margin-bottom: 2.5em;
}
.main-nav ul{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
