/** Fonts **/
.container{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}
.header{
    font-size: 40px;
    font: Cambria;
}
p{
    line-height: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,1e5799+11,7db9e8+45,7db9e8+51,7db9e8+51,7db9e8+64,7db9e8+64,7db9e8+76,a0bdde+96 */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #1e5799 11%, #7db9e8 45%, #7db9e8 51%, #7db9e8 51%, #7db9e8 64%, #7db9e8 64%, #7db9e8 76%, #a0bdde 96%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#1e5799 11%,#7db9e8 45%,#7db9e8 51%,#7db9e8 51%,#7db9e8 64%,#7db9e8 64%,#7db9e8 76%,#a0bdde 96%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#1e5799 11%,#7db9e8 45%,#7db9e8 51%,#7db9e8 51%,#7db9e8 64%,#7db9e8 64%,#7db9e8 76%,#a0bdde 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#a0bdde',GradientType=0 ); /* IE6-9 */

}
.external:hover{color: lightcoral;}
.external:active{color: orangered;}
.external:a{color: orangered;}
